.footer {
     width: 100%;
     height: 150px;
     background-color: $color-purpur;
     display: flex;
     align-items: center;
    &__conteiner {
        width: 1200px;
        height: 50px;
        margin:auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        font-size: 16px;
        line-height: 20px;
        color: $color-white;

        .Copyright {
            display: flex;
            align-items: center;
            a {
                margin-right: 22px;
            }
        }

        .companyPolicy {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 550px;

            a{
                text-decoration: none;
                color: $color-white;
                &:hover{
                    color: $color-orange;
                }
            }
        }
    }
}