$color-orange: #EF7F04;
$color-black: #000000;
$color-purpur: #3B3A63;
$color-white: #FFFFFF;
$color-bgMain: #F2F2F2;

$color-rgbaWite1: rgba(255, 255, 255, 1);
$color-rgbaWite2: rgba(255, 255, 255, 0);
